<div class="container">
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="form-sign-up">
        <h2>Registrarme</h2>
        <span class="help-block">
          Por favor llene correctamente.
        </span>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), role: 'form') do |f| %>    
        <div class="form-group">
          <%= f.email_field :email, placeholder: t('.email'), :autofocus => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, placeholder: t('.password'), class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: t('.password_confirmation'), class: 'form-control' %>
        </div>
        <%= f.submit t('.sign_up'), class: "btn btn-primary btn-right" %> |   
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Registrarme con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider),
          class: 'btn btn-info' %>
        <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>