<div class="container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-3">
      <div class="form-sign-up">
        <h2>Iniciar sesión</h2>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: t('.email') %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: t('.password') %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label t('.remember_me') %>
        </div>
        <% end -%>
        
        <%= f.submit t('.sign_in'), class: 'btn btn-primary' %> |   
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Entrar con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider),
          class: 'btn btn-info' %>
        <% end -%>
        <% end %>
        <div class="text-a">
          <%= link_to t('.forgot_password'), new_password_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>