<!DOCTYPE html>
<html>
<head>
  <title>SellFood - Donde encuentras que comer...</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <div class="container">
    <%= render "layouts/navbar" %>
    <%= message_notice(notice) %>
    <%= message_alert(alert) %>
    <%= yield %>
  </div>
</body> 
</html>
